.body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.calculatorbox{
    width: 100%;
    height: 100%;
    background-color: lightpink;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20 px;

}
.button{
    width: 60px;
    height: 60px;
    font-size: 30px;
    margin: 10px;
    border-radius: 10px;
    background-color: lightblue;
    border: solid 2px black;
    cursor: pointer;

}
.inputbox{
    width: 100%;
    padding: 30px;;
    
    font-size: 100%;
    border: solid 2px black;

    justify-self: center;
}